.about {
	h1 {
		font-size: 2rem;
		color: #333;
	}
}

@media (max-width: $tablet) {
	.about {
		h1 {
			color: hotpink;
		}
	}
}

// scss파일마다 variables.scss import 해야함 (==> React 프로젝트에서 useMedia hook을 사용해서 스크립트로 반응형 처리했던 이유)
// next에서는 next.config.js에서 모든파일에서 variable.scss 파일을 import할 수 있으므로 useMedia hook 사용하지 않아도 됨
